@model IEnumerable<Do_an_Web.Models.post>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListProvince</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tenTp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenQuan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenDuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenPhuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.soNha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChiChinhXac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThongTinMoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienTich)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TieuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoiTuongChoThue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.update_at)
            </th>
            <th>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Email)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenTp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenQuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenDuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenPhuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soNha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiChinhXac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThongTinMoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienTich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoiTuongChoThue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.update_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.display)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
